footer {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
footer .foot-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot-left .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
footer .foot-left .contact-form .form-title {
  font-size: 2rem;
  font-weight: 400;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer .foot-left .contact-form form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  height: 80%;
}
footer .foot-left .contact-form form input, footer .foot-left .contact-form form textarea {
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(31, 31, 31);
  background-color: rgb(224, 224, 224);
}
footer .foot-left .contact-form form input {
  height: 2rem;
}
footer .foot-left .contact-form form textarea {
  height: 40%;
}
footer .foot-left .contact-form form button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}
footer .foot-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot-right .dummy {
  height: 1rem;
}
footer .foot-right .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 15%;
}
footer .foot-right .header-logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
footer .foot-right .contact-info {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: flex-start;
  gap: 1rem;
}
footer .foot-right .contact-info .contact-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .foot-right .contact-info .contact-content .contact-item {
  width: 80%;
  margin-left: 10%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  line-height: 3rem;
}
footer .foot-right .contact-info .contact-content .contact-item .contact-icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
footer .foot-right .contact-info .contact-content .contact-item .contact-text {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
  text-overflow: wrap;
  line-height: normal;
}
footer .foot-right .contact-info .contact-content .contact-item:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  footer {
    height: 100vh;
    flex-direction: column;
  }
  footer .foot-left {
    width: 100%;
    height: 50%;
  }
  footer .foot-left .contact-form .form-title {
    font-size: 1.5rem;
    height: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .foot-left .contact-form form {
    height: 80%;
  }
  footer .foot-left .contact-form form input, footer .foot-left .contact-form form textarea {
    width: 80%;
  }
  footer .foot-left .contact-form form textarea {
    height: 50%;
    width: 80%;
  }
  footer .foot-right {
    width: 100%;
    height: 45%;
  }
  footer .foot-right .dummy {
    display: none;
  }
  footer .foot-right .contact-info {
    padding: 0;
    height: 98%;
    justify-content: flex-end;
  }
  footer .foot-right .contact-info .header-logo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .foot-right .contact-info .contact-content {
    margin: 0;
  }
  footer .foot-right .contact-info .contact-content .contact-item {
    height: 2rem;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
  }
  footer .foot-right .contact-info .contact-content .contact-item .contact-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  footer .foot-right .contact-info .contact-content .contact-item .contact-text {
    width: 80%;
    font-size: 1rem;
  }
  footer .foot-right .contact-info .contact-content a.contact-item:hover {
    opacity: 0.8;
  }
}

.contact-back {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 300vh;
  z-index: -1;
  Background-color: rgb(121, 121, 121);
}
@media screen and (max-width: 768px) {
  .contact-back {
    height: 100vh;
  }
}
